<section class="shoping-cart spad" style="margin-top: -85px">
  <div class="container">
    <div class="row">
      <h1 style="margin: 0 auto; padding-top: 30px">Giỏ hàng</h1>
      <div
        class="col-lg-12"
        style="background-color: white; margin-top: 40px; padding-top: 30px"
      >
        <div class="shoping__cart__table">
          <table>
            <thead>
              <tr>
                <th>Hình ảnh</th>
                <th class="shoping__product">Sản phẩm</th>
                <th>giá</th>
                <th>số lượng</th>
                <th>thành tiền</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of products">
                <td
                  class="shoping__cart__item"
                  style="width: 260px; text-align: center"
                >
                  <img
                    style="height: 100px"
                    src="https://localhost:5001/StaticFiles/Images/{{
                      item.image
                    }}"
                    alt=""
                  />
                </td>
                <td>
                  <h5>{{ item.name }}</h5>
                </td>

                <td class="shoping__cart__price" style="width: 250px">
                  {{ item.price | currency: "  ":"symbol":"1.0-0" }} vnđ
                </td>
                <td class="shoping__cart__quantity" style="width: 250px">
                  <div class="quantity">
                    <div class="pro-qty">
                      <span
                        class="dec qtybtn"
                        (click)="updateProduct(item.id, item.quantity - 1)"
                        >-</span
                      >
                      <input type="text" value="{{ item.quantity }}" />
                      <span
                        class="inc qtybtn"
                        (click)="updateProduct(item.id, item.quantity + 1)"
                        >+</span
                      >
                    </div>
                  </div>
                </td>
                <td class="shoping__cart__total" style="width: 250px">
                  <!-- {{item.totalMoney | currency : 'vnd ' : 'symbol' : '1.0-0' }} -->
                  {{
                    item.price * item.quantity | currency: "  ":"symbol":"1.0-0"
                  }}
                  vnđ
                </td>
                <td class="shoping__cart__item__close">
                  <span
                    class="icon_close"
                    (click)="deleteProduct(item.id)"
                  ></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="shoping__continue">
          <div class="shoping__discount">
            <h5>Mã giảm giá</h5>
            <form action="#">
              <input type="text" placeholder="Enter your coupon code" />
              <button type="submit" class="site-btn">Áp dụng</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="shoping__checkout">
          <h5>Tổng tiền</h5>
          <ul>
            <li>
              Phải trả:
              <span
                >{{ totalMoney | currency: "  ":"symbol":"1.0-0" }} vnd</span
              >
            </li>
          </ul>
          <a
            onclick="payNow()"
            style="color: white; cursor: pointer"
            class="primary-btn"
            >Thanh toán</a
          >
        </div>
      </div>
      <div class="row" *ngIf="products.length == 0">
        <h4
          class="align-center float-left col-md-12"
          style="
            margin-left: 458px;
            padding-top: 26px;
            color: red;
            padding-bottom: 15px;
          "
        >
          Giỏ hàng của bạn rỗng
        </h4>
        <a class="btn btn-primary" routerLink="/" style="margin-left: 507px"
          >Tiếp tục mua hàng</a
        >
      </div>
    </div>
  </div>
</section>
<div
  class="shopper-informations"
  id="canPay"
  style="background-color: white; padding: 35px 0"
>
  <p style="font-size: 25px; font-weight: 900; text-align: center">
    Nhập thông tin giao hàng
  </p>
  <div
    class="row"
    style="
      padding: 40px;
      display: flex;
      width: 100%;
      text-align: center;
      margin-left: 0px;
      background-color: white;
    "
  >
    <div class="col-sm-6" style="width: 100%">
      <form [formGroup]="form" style="width: 400px;
      margin: 0 auto;">
        <div class="shopper-info">
          <div class="form-group"  style="width: 400px;
          margin: 0 auto;">
            <label for="fullname">Họ tên người nhận</label>
            <input
              formControlName="CustemerName"
              type="text"
              name="fullname"
              id="fullname"
              placeholder="Full name"
              class="form-control"
            />
          </div>
          <div class="form-group" >
            <label for="phonenumber">Số điện thoại</label>
            <input
              formControlName="CustemerPhone"
              class="form-control"
              placeholder="Số điện thoại"
              name="phonenumber"
              id="phonenumber"
            />
          </div>
          <div class="form-group">
            <label for="Address">Địa chỉ</label>
            <input
              formControlName="CustemerAddress"
              type="text"
              id="Address"
              placeholder="Địa chỉ giao hàng"
              name="Address"
              class="form-control"
            />
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="payment"
                >Tiền mặt
                <input type="radio" name="pttt" id="payment" checked />
              </label>
            </div>
            <div
              class="form-group col-md-6"
              title="Hiện chúng tôi chưa hỗ trợ thanh toán qua TKNH"
            >
              <label for="payment1"
                >Tài khoản ngân hàng
                <input
                  type="radio"
                  name="pttt"
                  id="payment1"
                  disabled="disabled"
                />
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-6">
      <div class="form-group" >
        <label for="notes">Ghi chú</label>
        <textarea
          id="focusItem"
          name="notes"
          class="form-control"
          [(ngModel)]="Notes"
          placeholder="Lưu ý với của hàng"
          cols="70"
          rows="6"
        ></textarea>
        <button
          class="col-md-12 btn btn-primary align-center"
          (click)="letOrder()"
          style="margin-top: 20px"
        >
          Hoàn tất
        </button>
      </div>
    </div>
  </div>
</div>
