<div class="container" style="    width: 535px">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
             
                     
                 
                            <div class="p-5" >
                                <div class="text-center" >
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <form class="user" [formGroup]="form" (ngSubmit)="login()">
                                    <div class="form-group">
                                        <input type="email" formControlName='UserName' class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="Enter Email Address...">
                                            <div class="col alert alert-danger" role="alert"
                                                *ngIf="form.controls.UserName?.hasError('required')&& form.controls.UserName?.touched">Name is required!
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" formControlName='PassWord' placeholder="Password">
                                        <div class="col alert alert-danger" role="alert"
                                            *ngIf="form.controls.PassWord?.hasError('required')&& form.controls.PassWord?.touched">Name is required!
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" formControlName='Remember' class="custom-control-input" id="customCheck" checked>
                                            <label class="custom-control-label" for="customCheck">Remember
                                                Me</label>
                                        </div>
                                    </div>
                                    <button type="submit" [disabled]="this.form.invalid" class="btn btn-primary btn-user btn-block">Login</button>
                                </form>
                            </div>
                     
                 
                </div>
            </div>

        </div>

    </div>

</div>