<!-- Categories Section Begin -->
<!-- <section class="categories">
  <div class="container">
      <div class="row">
          <div class="categories__slider owl-carousel">
              <div class="col-lg-3" *ngFor="let item of listNewest">
                  <div class="categories__item set-bg" style="background-image: url({{urlimage}}{{item.IMAGE}});">
                      <h5><a (click)="chitiet(item)" href="#">{{item.TENSP}}</a></h5>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> -->
<!-- Categories Section End -->

  <!-- Featured Section Begin -->
  <section class="featured spad" style="margin-top:-85px;">
      <div class="container" >
          <div class="row" >
              <div class="col-lg-12" >
                  <div class="section-title">
                      <h2>Sản Phẩm</h2>
                  </div>
                  <!-- <div class="featured__controls">
                      <ul>
                          <li class="active" data-filter="*">All</li>
                          <li data-filter=".oranges">Oranges</li>
                          <li data-filter=".fresh-meat">Fresh Meat</li>
                          <li data-filter=".vegetables">Vegetables</li>
                          <li data-filter=".fastfood">Fastfood</li>
                      </ul>
                  </div> -->
              </div>
          </div>
          <div class="row featured__filter" style="background-color: white;padding-top: 20px;">
              <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat" *ngFor="let item of listProductNew">
                  <div class="featured__item">
                      <div class="featured__item__pic set-bg" data-setbg="" style="background-image: url('https://localhost:5001/StaticFiles/Images/{{item.image}}');">
                          <ul class="featured__item__pic__hover">
                              <li><a href="#"><i class="fa fa-heart"></i></a></li>
                              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                              <li><a href="#" (click)="addToCart(item)"><i class="fa fa-shopping-cart"></i></a></li>
                          </ul>
                      </div>
                    
                      <div class="featured__item__text">
                          <h6><a  [routerLink]="['Detail',item.id]" routerLinkActive="router-link-active" >{{item.name}}</a></h6>
                          <h5>{{item.price  | currency:'  ':'symbol':'1.0'}} vnđ</h5>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Featured Section End -->

  <!-- Banner Begin -->
  <div class="banner">
      <div class="container">
          <div class="row" style="    background-color: white;
          padding: 15px 0">
              <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="banner__pic">
                      <img src="assets/img/slide-2.png" alt="" style="height: 252px;">
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="banner__pic">
                      <img src="assets/img/logo-3.png" alt=""style="height: 252px;"  >
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Banner End -->


 
